body{
	margin: 0px;
	background: grey;
}
.title{
	background: #B3C3D2;
	height: 60px;
}
.eux-logo{
	margin-top: 20px;
	margin-left: 20px;
	height: 30px;
	width: 60px;
	top: 40px;
}
/*ul{
	padding: 0px;

	
}
li{

	display: inline;
}*/
.link{
	text-align: right;
}
li{
	display: inline;
}
.article{
	background: 
}

